form.filters
    .filters__btn.filters__type(data-id='1')
        span Фильтр по типу счетчика
        svg
            use(href='images/sprite.svg#filt')
    .filters__wrapper
        .filters__show-btn.js-filter-toggle
            img(src="images/tune.svg")
            span Подбор по параметрам


    .filters__btn.filters__sort
        select(name='orderby')
            option(value='') По умолчанию
            option(value='1') По популярности
            option(value='2') По возрастанию цены
            option(value='3') По убыванию цены
    input(type='hidden' name='category' value='2')
    input(type='hidden' name='s' value='')

    .filters__dropdown.fdrop.fdrop--active
        button.fdrop__close.js-filter-close
            img(src="images/fclose.svg")
        .fdrop__inner
            .fdrop__block
                .fdrop__row
                    .fdrop__item
                        .fdrop__title Стоимость, грн
                        .fdrop__range-slider
                            span
                                input(type='number' value='25000' min='0' max='100000' step='500')
                                input(type='number' value='75000' min='0' max='100000' step='500')
                            input(value='25000' min='0' max='100000' step='500' type='range')
                            input(value='50000' min='0' max='100000' step='500' type='range')
                            svg(width='100%' height='24')
                                line(x1='4' y1='0' x2='480' y2='0' stroke='#0569FF' stroke-width='12' stroke-dasharray='1 28')
            .fdrop__block
                .fdrop__row
                    .fdrop__item
                        .fdrop__title Бренд
                        select#fselect1.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5
                    .fdrop__item
                        .fdrop__title Объем, л.
                        select#fselect2.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5
                    .fdrop__item
                        .fdrop__title Тип тена
                        select#fselect3.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5
                    .fdrop__item
                        .fdrop__title Установка
                        select#fselect4.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5
                    .fdrop__item
                        .fdrop__title Монтаж
                        select#fselect5.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5
                    .fdrop__item
                        .fdrop__title Тип управления
                        select#fselect6.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5
                    .fdrop__item
                        .fdrop__title Регулятор температуры
                        select#fselect7.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5
                            option(value="Опция 5") Опция 5
                    .fdrop__item
                        .fdrop__title Мощность
                        select#fselect8.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5
                    .fdrop__item
                        .fdrop__title Форма бойлера
                        select#fselect9.fdrop__select(multiple name="" size="1")
                            option(value="Опция 1") Опция 1
                            option(value="Опция 2") Опция 2
                            option(value="Опция 3") Опция 3
                            option(value="Опция 4") Опция 4
                            option(value="Опция 5") Опция 5