.filters{
  position: relative;

  &__sort{
    @include max(sm){
      min-height: 48px;
      background-color: #EDF0F9;
      background-position-x: calc(100% - 12px);
      padding: 0 12px 0 16px;
    }
  }

  &__show-btn{
    font-weight: 450;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $blue;
    cursor: pointer;
    user-select: none;

    @include min(sm){
      &:hover{
        text-decoration: underline;
      }
    }
    img{
      width: 20px;
      height: 20px;
      display: block;
      object-fit: contain;
      flex-shrink: 0;
      margin-right: 12px;
    }
  }

  &__dropdown{
    top: calc(100% + 16px);
    left: 0;
    @include max(sm){
      top: 52px;
    }
  }
}


.fdrop{
  position: absolute;
  width: 100%;
  display: none;
  z-index: 10;
  background: #EDF0F9;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
  &--active{
    display: block;
  }

  &__close{
    padding: 0;
    outline: 0;
    border: none;
    cursor: pointer;
    background: none;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    display: block;
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__inner{
    padding: 32px 24px 16px;
    @include max(sm){
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__block{}
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0 -16px;
  }
  &__item{
    flex-basis: 279px;
    max-width: 279px;
    padding: 0 16px;
    margin-bottom: 24px;
    @include max(lg){
      max-width: 33.333%;
      width: 33.333%;
      flex-basis: 33.333%;
    }
    @include max(sm){
      max-width: 50%;
      width: 50%;
      flex-basis: 50%;
    }
    @include max(xs){
      max-width: 100%;
      width: 100%;
      flex-basis: 100%;
    }
  }
  &__title{
    font-weight: 450;
    font-size: 14px;
    line-height: 135%;
    color: #000000;
    margin-bottom: 16px;
  }
  &__select{}
  .vsb-main{
    width: 100%;
    button{
      position: relative;
      padding: 0 32px 0 12px !important;
      height: 30px !important;
      box-sizing: border-box;
      width: 100% !important;
      .title{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 135%;
        color: #878E97;
        margin: 0;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .caret{
        width: 10px !important;
        height: 10px !important;
        position: absolute;
        right: 11px !important;
        top: 45% !important;
        transform: translateY(-50%);
        margin: 0 !important;
        border: none !important;
        background: url('../images/fdown.svg') center center no-repeat;
      }

      &.not-empty{
        .title{
          color: #000000;
          font-weight: 450;
        }
        .caret{
          background-image: url('../images/fclear.svg');
          top: 50% !important;
        }
      }
    }
    .multi li:not(.grouped-option)::after,
    .multi li:not(.grouped-option)::before{
      display: inline-block;
      box-sizing: content-box;
    }
  }
  .vsb-menu{
    border-radius: 0;
  }



  &__range-slider {
    width: 100%;
    #priceSlider{
      width: calc(100% - 14px);
      margin: 0 auto;
    }
  }

  &__inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__input{
    width: calc(50% - 11px);
    position: relative;
    input{
      width: 100%;
      height: 32px;
      background: #FFFFFF;
      border: 1px solid #DCE4EE;
      box-sizing: border-box;
      border-radius: 3px;

      font-size: 12px;
      line-height: 135%;
      color: #000000;
      padding: 0 30px 0 12px;
    }
    &::after{
      content: "грн";
      display: block;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
      line-height: 135%;
      color: #878E97;
      user-select: none;
      pointer-events: none;
    }
  }



}